<!DOCTYPE html>
<html ng-app="app">
    <head>
        <meta charset="UTF-8">
        <title>Event Registration</title>
        <link rel="stylesheet" href="css/bootstrap.css">

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
        <script src="lib/angluar.js"></script>
        <script src="lib/bootstrap.js"></script>
        <script src="lib/jquery-3.3.1.js"></script>
        <script src="js/app.js"></script>
    </head>

    <body>
        <h1>Ayush First Angular Page</h1>

        <div class="controller">
            <div ng-controller="ExternalController">
                <!-- all variables inside {{}}, are binded to model in corresponding app.js -->
                Tutorial Name: <input type="text" ng-model="tutorialName"><br>
                This tutorial is {{tutorialName}} <br>
                Owner: {{owner}} <br>
                Your first name: <input type="text" ng-model="visitorFirstName"><br>
                Your Last name: <input type="text" ng-model="visitorLastName"><br>
                Visitor Generated Name: {{generateName()}}<br>
                Visitor Full Name: {{fullName("Megha","Verma")}}<br>
                Hello {{visitorFirstName}}!
            </div>
        </div>

    </body>
</html>